body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poiret One', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  a {
    text-decoration: none;
    color: #023a52;
  }

  &:hover {
    background-color: #dce3ff;

    a {
      color: #55378b;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: #023a52;

  &.active {
    background-color: #dce3ff;
  }
  
  &:hover {
    background-color: #bdcaff;
    color: #55378b;
  }
}
